
#vitals-db

POSTGRES_USER_VITALS=
POSTGRES_PASSWORD_VITALS=
POSTGRES_DB_VITALS=

#madicine-db

POSTGRES_PASSWORD_MEDICINE=
POSTGRES_USER_MEDICINE=
POSTGRES_DB_MEDICINE=

#keycloak-db

POSTGRES_USER_KEYCLOAK=
POSTGRES_PASSWORD_KEYCLOAK=
POSTGRES_DB_KEYCLOAK=

#keycloak

KC_HOSTNAME=
KC_HTTP_RELATIVE_PATH=
KC_DB_URL=
KC_DB=
KC_DB_PASSWORD=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

#vitals-publisher

MQTT_CLIENT_ID_PUB=
MQTT_HOSTNAME=
MQTT_PORT=
MQTT_CLIENT_ID_SUB=

#vitals-subscriber

SPRING_DATASOURCE_URL_VITALS=

#medicine-calendar
SPRING_DATASOURCE_URL_MEDICINE=

JWT_SET_URI=
JWT_ISSUER_URI=
