
services:
  vitals-db:
    image: timescale/timescaledb:latest-pg16
    environment:
      - POSTGRES_USER=${POSTGRES_USER_VITALS}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_VITALS}
      - POSTGRES_DB=${POSTGRES_DB_VITALS}
    expose:
      - "5432"
    volumes:
      - type: bind
        source: ./db/vitalsdb/data
        target: /var/lib/postgresql/data
      - type: bind
        source: ./db/init/vitals
        target: /docker-entrypoint-initdb.d
        read_only: true
    networks:
      - health-platform-network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
          pids: 1024
        reservations:
          cpus: '0.05'
          memory: 64M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3



  mosquitto:
    image: pokerface03/healthplatform:mosquitto
    expose:
      - "1883"
      - "9001"
    networks:
      - health-platform-network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
          pids: 1024
        reservations:
          cpus: '0.05'
          memory: 32M
      restart_policy:
        condition: on-failure


  medicine-db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_MEDICINE}
      - POSTGRES_USER=${POSTGRES_USER_MEDICINE}
      - POSTGRES_DB=${POSTGRES_DB_MEDICINE}
    expose:
      - "5432"
    volumes:
      - type: bind
        source: ./db/medicinedb/data
        target: /var/lib/postgresql/data
      - type: bind
        source: ./db/init/medicine
        target: /docker-entrypoint-initdb.d
        read_only: true
    networks:
      - health-platform-network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
          pids: 1024
        reservations:
          cpus: '0.05'
          memory: 64M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3


  keycloak-db:
    image: postgres:16
    environment:
      - POSTGRES_USER=${POSTGRES_USER_KEYCLOAK}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_KEYCLOAK}
      - POSTGRES_DB=${POSTGRES_DB_KEYCLOAK}
    expose:
      - "5432"
    volumes:
      - type: bind
        source: ./db/keycloak/data
        target: /var/lib/postgresql/data
    networks:
      - health-platform-network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
          pids: 1024
        reservations:
          cpus: '0.05'
          memory: 64M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3


  keycloak:
    image: quay.io/keycloak/keycloak:26.3.4
    command: start-dev
    environment:
      - KC_PROXY_HEADERS=xforwarded
      - KC_HOSTNAME=${KC_HOSTNAME}
      - KC_HTTP_RELATIVE_PATH=${KC_HTTP_RELATIVE_PATH}
      - KC_DB_URL=${KC_DB_URL}
      - KC_DB=${KC_DB}
      - KC_DB_PASSWORD=${KC_DB_PASSWORD}
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_BOOTSTRAP_ADMIN_USERNAME}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD}
      # Optional: restrict JVM heap to prevent memory starvation for threads
      - JAVA_OPTS=-Xms256m -Xmx512m
    expose:
      - "8080"
    depends_on:
      - keycloak-db
    networks:
      - health-platform-network
    ulimits:
      nproc: 65535        # allow many threads/processes
      nofile: 65535       # allow many open files/sockets
    deploy:
      mode: replicated
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - node.role == worker
      resources:
        limits:
          cpus: '1.50'
          memory: 1024M
          pids: 4096        # allow JVM to spawn GC + worker threads
        reservations:
          cpus: '0.05'
          memory: 128M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3



  gateway:
    image: pokerface03/healthplatform:nginx2
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - vitals-subscriber
      - medicine-calendar
      - keycloak
    networks:
      - health-platform-network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      resources:
        limits:
          cpus: '1.0'
          memory: 256M
          pids: 1024
        reservations:
          cpus: '0.05'
          memory: 32M
      restart_policy:
        condition: on-failure


  vitals-publisher:
    image: pokerface03/healthplatform:vitals-publisher_1.1
    expose:
      - "8081"
    environment:
      - MQTT_AUTOMATIC_RECONNECT=true
      - MQTT_CLEAN_SESSION=true
      - MQTT_CONNECTION_TIMEOUT=10
      - MQTT_CLIENT_ID=${MQTT_CLIENT_ID_PUB}
      - MQTT_HOSTNAME=${MQTT_HOSTNAME}
      - MQTT_PORT=${MQTT_PORT}
    depends_on:
      - mosquitto
    networks:
      - health-platform-network
    restart: unless-stopped
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
          pids: 1024
        reservations:
          cpus: '0.05'
          memory: 64M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3


  vitals-subscriber:
    image: pokerface03/healthplatform:vitals-subscriber_1.2
    expose:
      - "8082"
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL_VITALS}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_VITALS}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_VITALS}
      - JWT_SET_URI=${JWT_SET_URI}
      - JWT_ISSUER_URI=${JWT_ISSUER_URI}
      - MQTT_CLIENT_ID=${MQTT_CLIENT_ID_SUB}
      - MQTT_HOSTNAME=${MQTT_HOSTNAME}
      - MQTT_PORT=${MQTT_PORT}
    depends_on:
      - vitals-db
      - keycloak
      - mosquitto
    networks:
      - health-platform-network
    restart: unless-stopped
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      resources:
        limits:
          cpus: '1.0'
          memory: 768M
          pids: 2048
        reservations:
          cpus: '0.1'
          memory: 128M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3


  medicine-calendar:
    image: pokerface03/healthplatform:medicine-calendar_1.1
    expose:
      - "8083"
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL_MEDICINE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_MEDICINE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_MEDICINE}
      - JWT_SET_URI=${JWT_SET_URI}
      - JWT_ISSUER_URI=${JWT_ISSUER_URI}
    depends_on:
      - medicine-db
      - keycloak
    networks:
      - health-platform-network
    restart: unless-stopped
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      resources:
        limits:
          cpus: '1.0'
          memory: 768M
          pids: 2048
        reservations:
          cpus: '0.1'
          memory: 128M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3



networks:
  health-platform-network:
    driver: overlay
    internal: false
